@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
    font-family: 'DotaFont';
    src: url('/src/styles/fonts/OPTIwtcGoudy-Medium.otf') format('opentype');
  }

body {
    font-family: 'Proxima Nova', 'Helvetica Neue', Arial, sans-serif;
  }
  


